body {
    background: #1c1e20;
    background: -webkit-linear-gradient(left top, #555a5f, #1c1e20);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #555a5f, #1c1e20);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #555a5f, #1c1e20);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #555a5f, #1c1e20);
    /* Standard syntax */
    background-color: #2b2b2b;
}

body:after {
    content: url(../images/logo-zenika.png);
    transform: scale(0.3);
    position: fixed;
    margin: 0;
    top: -3em;
    left: -3em;
}

.reveal h1 {
    font-size: 3em;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal section img[alt=logo_java8] {
    border: none;
    width: 20%;
    height: 20%;
    background: none;
    margin: 0px;
    box-shadow: none;
}

.reveal section img[alt=logo_docker] {
    border: none;
    background: none;
    width: 200px;
    height: 200px;
    margin: 0px;
    box-shadow: none;
    display: inline-block;
}

.reveal section img[alt=logo_jenkins] {
    border: none;
    background: none;
    width: 300px;
    height: 200px;
    margin: 0px;
    box-shadow: none;
    display: inline-block;
}

.reveal section img[alt=logo_vuejs] {
    border: none;
    background: none;
    width: 250px;
    height: 200px;
    margin: 0px;
    box-shadow: none;
    display: inline-block;
}

.reveal section img[alt=logo_kotlin] {
    border: none;
    background: none;
    width: 200px;
    height: 180px;
    box-shadow: none;
    display: inline-block;
}

.reveal section img[alt=logo_gradle] {
    border: none;
    background: none;
    width: 200px;
    height: 200px;
    margin: 0px;
    box-shadow: none;
    display: inline-block;
}

#line_logo {
  overflow: hidden;
}

#logo,#logo li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
}

#logo {
  left: 50%;
  height: 300px;
  vertical-align: middle;
}

#logo li {
  right: 50%;
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 100%;
  vertical-align: middle;
}
